:root {
    --purple: #745173;
    --red: #B80327;
    --white: #d3f5f3;
    --lightblue: #00819D;
    --middleblue: #02294E;
    --darkblue: #011128;
}

body {
    background-color: var(--darkblue);
    color: var(--white);

    margin:0;
}

header {
    /*background-color: var(--middleblue);*/
    box-shadow: 15px 10px 20px #010917;

    margin: 0;
    padding: 1em 2em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}