@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
    --purple: #745173;
    --red: #B80327;
    --white: #d3f5f3;
    --lightblue: #00819D;
    --middleblue: #02294E;
    --darkblue: #011128;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--darkblue);
    color: var(--white);

    margin:0;
}

header {
    /*background-color: var(--middleblue);*/
    box-shadow: 15px 10px 20px #010917;

    margin: 0;
    padding: 1.2em 4em;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.page-name {
    font-family: "Bebas Neue", sans-serif;
    font-size: 2em;
}

.red-text {
    color: var(--lightblue);
}

.search-field-container {
    margin: 3em 8em;
    padding: 2em;

    font-size: larger;
    background-color: var(--middleblue);

    display: flex;
    flex-direction: row;
}

.search-field {
    margin: 0 1em;
}
.search-field > input {
    width: 40em;
}

.movies {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    margin: 3em 8em;
    padding: 2em;
}

.movie-container {
    display: flex;
    flex-direction: column;

    background-color: var(--darkblue);
    box-shadow: 10px 5px 40px #010917;

    width: 16em;
    height: 10em;
    margin: 2.2em;
    padding: 1em 1em;
}

.movie-image {
    background-color: var(--middleblue);
    align-self: center;

    width: 70%;
    height: 15em;
    margin-bottom: 1em;
}
.movie-title {
    color: var(--lightblue);
    font-family: "Bebas Neue", sans-serif;
    font-weight: bolder;
    font-size: 1.4em;
    margin-bottom: 1.5em;
}

