<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <title>Movie Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

</head>

<body>
<div id="body-wrapper">
    <header class="page-header">
        <div class="page-name"><span class="red-text">O</span> Movie Finder</div>
        <div class="menu-item">info</div>
    </header>
    <section>
        <h1>Welcome to the movie finder!</h1>
    </section>
    <footer>
    </footer>
</div>

</body>
</html>